@model Payment

<form method="post" asp-action="Delete">
	<input asp-for="PaymentID" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Payment</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="PaymentName">Payment Amount</label>
			<input asp-for="PaymentName" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="PaymentID"> Payment ID</label>
			<input asp-for="PaymentID" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Payment" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}